body {
  background-color: #edede9;
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  margin-top: 40px;
  max-width: 660px;
}
h2 {
  text-align: center;
  font-size: 48px;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 100px;
  margin: 0;
  padding: 10px;
}
h3 {
  opacity: 0.7;
  text-align: center;
}
span {
  margin-right: 10px;
  font-size: 15px;
}
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 65px;
}

.contact {
  background-color: white;
  padding: 18px 18px;
  border: 1px solid #f72585;
  border-radius: 10px;
  color: #f72585;
}
.about {
  background-color: #f72585;
  padding: 18px 18px;
  border-radius: 10px;
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
i {
  padding-left: 5px;
}
#back {
  padding-right: 5px;
  font-size: 13px;
}

.back:hover {
  color: #f72585;
}
.about-columns {
  display: flex;
  height: auto;
  margin: 30px 0;
}
p {
  margin: 10px;
  background-color: #ffcad4;
  padding: 18px;
  border-radius: 5px;
  line-height: 1.5;
  text-align: center;
}
#email {
  color: blue;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 12px;
  font-size: 25px;
}
#contact {
  margin-top: 25px;
}
